{% extends "_base.html" %}

{% block content %}
<!--
<div>
  <p>Welcome, {{request.user.username}}!</p>
  <a href="{% url 'protected' %}">Go To Your Protected Page!</a>
</div>
-->

<main class="ml-64 flex-1 p-4">
  <div class="rounded-lg bg-white p-6 shadow dark:bg-gray-800">
    <!--p tags to move the content cause the fixed navbar won't allow me to use margin top-->
    <p class="mt-4 text-gray-700 dark:text-gray-300">Your content goes here.</p>
    <p class="mt-4 text-gray-700 dark:text-gray-300"></p>
    <p>Good Day, {{request.user.username}}!</p>
    <p>Check out the latest updates from the past 7 days!</p>
  </div>

  <div class="flex flex-row pt-16">
    <a href="#"
      class="block max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
        acquisitions
        2021</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of
        2021 so far, in reverse chronological order.</p>
    </a>

    <a href="#"
      class="block max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
        acquisitions
        2021</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of
        2021 so far, in reverse chronological order.</p>
    </a>

    <a href="#"
      class="block max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
        acquisitions
        2021</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of
        2021 so far, in reverse chronological order.</p>
    </a>

  </div>

</main>
{% endblock content %}